



/*HEADER*/
header {
  border-bottom: solid 8px #251f4b;
  position: relative;
  z-index: 200;

  &:after {
      content: '';
      position: relative;
      z-index: 200;
      display: block;
      width: 100%;
      border-bottom: solid 2px #fce12e;
  }


  nav {
    margin: 0;
    z-index: 5;
    position: relative;

  }


  li {
    display: block;
  }

  input {
    width: 100%;
    font-size: 0.9em;
  }

  a {
    padding:15px;
    display: block;
    transition: all 0.3s;
    border:0;
    color: $primary_color;

    &:hover {
      background-color: transparentize($font_color, 0.1);
      color: white;
    }

    // &:after {
    //   content:'';
    //   width: 0%;
    //   position: absolute;
    //   bottom: 5px;
    //   left: 50%;
    //   right: 50%;
    //   border-bottom: 1px solid  transparentize(white, 0.5);
    //   transition: all 0.3s
    // }
    //
    // &:hover:after {
    //   left:0;
    //   right: 0;
    //   width: 100%;
    // }
    //
    // &:hover {
    //   transform: scale(1.08);
    // }

    &:link, &:visited, &:hover, &:active{
      color: white;
      border:0;
    }

    &.branding {
      width: 100%;
      height: 100px;
      background: url('../img/Ifchor_Logo_2col.png') no-repeat left center;
      background-size: contain;
      z-index: 600;
      position: relative;

      span {
        display: none;
      }

      &:after {
        content:'';
        border:0;
      }

      &:hover {
        transform: scale(1.05);
      }



    }

  }


  #supermenus {

    background: transparentize($font_color,0.0);

    position: absolute;
    z-index: 500;
    top:112px;
    left: 0;
    width: 100%;
    color: white;




    .supermenu_background {
       background: url('../img/logo_black.svg') no-repeat  center 20px;
       background-size: 600px;
       opacity: 0.14;
       top:0;
       bottom:0;
       right:0;
       left:0;
       position: absolute;
       z-index: -1
    }


  }

  .supermenu {
    display:none;
    padding-top: 40px;
    padding-bottom: 30px;
    min-height: 200px;
    border-bottom: 2px solid #fce12e;

    .supermenu_image {
      height: 180px;
    }

  p {
    padding-bottom: 0;
    margin:0 0 5px;
    a {
      padding: 0;
    }
  }

    ul {
      margin:0;
      padding:0;
      li {
        margin:0 0 5px;
        padding:0;
        font-size: 1.3em;
        a {
          margin:0;
          padding:0;
        }
      }
    }
  }



}







#menu_button {
  text-indent: 40px;
  background: url('../img/menu.svg') no-repeat center center;
  background-size: 30px;
  height: 40px;
  width: 40px;
  position: absolute;
  text-indent: -9999px;
  z-index: 301;
  top: 30px;
  right: 10px;
  margin: 0;
  padding:0;
  font-size: $font_size;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 1.4em;
  font-weight: bold;

  &:hover {
    transform: scale(1.1);
  }

}





nav#navigation_menu {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width:250px;
  background: rgba(0,0,0,0.8);
  padding: 15px;
  transform: translateX(-300px);
  transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
  overflow:hidden;



  &.menu_visible {
    transform: translateX(0);
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
  }

  ul {
    margin:$header_height 0 0;
    padding: 0;

    li {

      margin-top: 0;
      margin-right: 15px;
      position: relative;

      a {
        text-decoration: none;
        display: block;
        padding:5px 10px;
        color: $primary_color;
        border-bottom:0;
        text-transform: uppercase;

        &.hovered {
              background-color: transparentize($font_color, 0.1);
              color: white;
        }



        &#search_opener {
          background-image: url('../img/search.svg');
          background-repeat: no-repeat ;
          background-position: center center;
          padding:0 15px;

          background-size:20px;
          display: none;

        }


      }

    }

  }


}





@media (min-width:1200px){

  header {
      height: $header_height;
  }

  #menu_button {display: none}

  nav#navigation_menu {
    padding:0px 0 0;
    bottom:auto;
    text-align:right;width:100%;
    background: none;
    transform:none;position: static;
    $height: header_height;

    &.menu_visible {
      box-shadow: 0 0 0
    }
    ul {
      margin: 0;
      li {
        display: inline-block;
        padding: 0;
        margin: 0;
        a {padding:0  15px 6px;display: inline-block;line-height: 104px; font-size: 0.9em;}
      }
    }

    a.branding {text-align: left;}

    #search_li {
      #search_opener {
        display: inline-block;
      }
      form {
        display: none;
      }
    }
  }

  .supermenu {

    &.supermenu_visible {
      display: block;
      animation: fadeIn 0.8s forwards;
    }


    ul {
      li {
        a {
          display: inline-block;
        }
      }
    }
  }


}


#supermenu_searchform {
  input {
    font-size: 2em;
  }
}
