



/*HEADER*/
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin:0;
  padding:10px;
  z-index: 100;


}


header nav {
  margin: 0;
  z-index: 5;
  position: relative;

}

header li {
  font-size: 1em;
  display: block;
}

header a {
  padding:15px;
  font-size: 1.4em;
  display: block;
  transition: all 0.3s;
  border:0;
  color: white;

}

header a:link, header a:visited, header a:hover, header a:active{
  color: white;
  border:0;
}


a.branding {
  width: 100%;
  height: 70px;
  background: url('../img/logo.svg') no-repeat left center;
  background-size: contain;
  span {
    display: none;
  }



}



#menu_button {
  text-indent: 40px;
  background: url('../img/menu.svg') no-repeat center center;
  background-size: 30px;
  height: 30px;
  width: 30px;
  position: absolute;
  text-indent: -9999px;
  z-index: 301;
  top: 10px;
  left: 10px;
  margin: 0;
  font-size: 1.8em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  line-height: 1.4em;
  font-weight: bold;
}


#navigation_menu {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  width:250px;
  background: rgba(0,0,0,0.8);
  padding: 15px;
  transform: translateX(-300px);
  transition: all 0.6s  cubic-bezier(0.63, 0, 0.18, 1);
  overflow:scroll;


  &.menu_visible {
    transform: translateX(0);
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
  }

  ul {
    margin-top: 80px;

    li {

      margin-top: 0;
      margin-right: 15px;
      position: relative;

      a {
        text-decoration: none;
        display: block;
        padding:10px;
        color: white;

      }

    }

  }


}


@media (min-width:768px){
  #menu_button {display: none}
  #navigation_menu {padding:0;bottom:auto;height:auto;text-align:right;width:100%;background: none;-webkit-transform:none; -moz-transform:none; -ms-transform:none; -o-transform:none; transform:none;position: static}
  #navigation_menu ul {margin: 0}
  #navigation_menu li {display: inline-block;}
  #navigation_menu  a {padding:15px 15px;display: inline-block;}
  a.branding {text-align: left;}

}
