$picture_width: 80px;

.office_list.office_list_0 {
    background: #f7f7f7;
}
section.section.section_contacts {
    padding: 0;
    margin: 50px 0 120px;
}

div.office_list {
    margin: 0;
    padding: 20px 0 0px;
}

ul.city {
    padding: 0;
    display: flex;
    flex-wrap: wrap;

    li.person {
        display: flex;
        font-size: 1em;


        .profile_picture {

            width:  #{$picture_width + 30px};

            .image_from_background {
                height: $picture_width;
                width:  $picture_width;
                border-radius: 50%;
            }
        }
      }
    }

      ul.people {

          &.row {
              padding: 0;
          }

          list-style: none;

          li.person {
              font-size: 1em;

        .profile_details {
            h2 {
                font-size: 1.9em;
                margin: 0;
                padding: 0 0 5px;
            }
            p {
                font-size: 1.4em;
            }

            a {
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom:1px dotted #777
                }
            }

        }
    }


}
.people_letter {
    border-bottom: solid 2px;
    margin: 20px 0;
    font-size: 5em;
    padding: 5px;
}

.alphabet {
  list-style: none;
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  background: #eee;
  text-align: center;
    ul {
      margin: 0;
      padding-bottom: 10px;
    }

  li {
      display: inline-block;
      padding: 5px;
      color: #aaa;
  }

}

.alphabet a {border-bottom: 0;}

.contact_list {
    position: relative;
    top: 90px;
}

.contacts_az {
    position: relative;
    margin-top: -50px;
}

// FOR THE CITY NAME, AND FLAG
ul.city {
    font-size: 140%;
    margin: 0 0 20px;
    li.person {
        width: 100%;
    }
}


@media (min-width:768px){

    li.person {
        min-width:  50%;
    }

}

@media (min-width:992px){

    li.person {
        min-width:  33%;
    }

}
