
    .single_post {
        margin-bottom: 50px;


    }
.single_flex {
  display: flex;
}

.post_image {
    border: 0;
    display: block;

    img {
        width: 100%;
        max-width: 100%;
        margin: auto;
    }
}


$date_width: 76px;

.date_container {
    float:left;
    width: $date_width;
    max-width: $date_width;
    margin:0 30px 0 0;

    display: inline-block;
    color: white;
    text-align: center;
    flex:1;

    span {
        background: $brand_color;
        display: block;

        &.day {
            font-size: 2.7em;
            padding:10px 0px;
        }
        &.month {
            font-size: 1.3em;
            text-transform: uppercase;
            padding:8px 0 8px 0;
            background-color: lighten($brand_color, 10);
        }
    }
}
.post_text_container {
    float:left;
    flex:1;
}


.bx-wrapper {
    position: relative;
}

.bx-controls-direction a {
  text-indent: -9999px;
  position: absolute;
  top: calc(50% - 50px);
  height: 40px;
  width: 15px;
  background: url(../img/arrow-left.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  border-bottom: 0;
}

.bx-controls-direction a.bx-next {
  transform: rotate(180deg);
  right: 0;
}

@media(max-width:775px){
  .post_text_container h3 {
      min-height: 90px;
  }
.single-content {
  width: calc(100% + 101px);
  margin-left: -101px;
}
}
