
/*TYPOGRAPHY*/
h1,h2,h3,h4,h5 {
//	font-family: $serif_font_stack;
line-height: 125%;
}

h1 {font-size: 3.9em; padding:50px 0 50px;font-weight: normal;}
h2 {font-size: 2.1em; padding: 0 0 20px;font-weight: bold}
h3 {font-size: 2.1em;padding:0 0 20px; font-weight: bold;}
h4 {font-size: 1.4em;padding:0 0 10px;font-weight: bold;}

p + h2, ul + h2 {
    margin-top: 40px;
}

@media (min-width: 768px){
	h1 {font-size: 4.3em;}
	h2 {font-size: 3.1em}
	h3 {font-size: 2.41em}
	h4 {font-size: 1.79em}

}

h1 span {
    opacity: 0;
    transform:scale(0.95);
    transition:all  1.7s;
    display: inline-block;

    &.fadeIn {
        opacity: 1;
        transform: scale(1);

    }
}

h3 a {border-bottom: 0;}

p {
	font-size: $font_size;
	padding:0 0 10px;
	line-height: 160%;
  text-align: justify;
}
li { font-size: $font_size;
	padding:0 0 5px;
	line-height: 160%;
  text-align:justify;
}

ul {
	list-style: disc;
	padding:10px 20px 40px 20px;
}
ol {
	@extend ul;
	list-style: decimal;
}


li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}

p + ul {
    margin-top: -5px;
}







a {
	text-decoration: none;
	border-bottom:1px solid $primary_color;
	display: inline-block;
	transition: all 0.3s;

	&:link, &:visited, &:active {
		color: $primary_color
	}
	&:hover {
	}
}

h6 a, a h6 {
    background: #25204c;
    color: #ffe036!important;
    padding: 10px 15px;
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px 0 0px;
		border: 0;
}

h6 a:hover, a:hover h6 {
	background: #ffe036;
  color: #25204c!important;
}



.button {
	display: inline-block;
	margin:10px 0;
	border-radius: 5px;
	border:2px solid white;
	padding: 10px 25px;
	color: white;
	&:hover {
		background: white;
		color: $primary_color;
	}
}


strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
	width: 100%;
	margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

input {padding: 10px;width: 100%;font-size: 1.5em;appearance:none;border-radius: 3px;}
textarea {padding: 10px;width: 100%;font-size: 1.5em;border-radius: 3px;}

input[type="submit"] {
    display: inline-block;
    width: auto;
    padding: 10px 50px;
    background: $yellow;
    color: $brand_color;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    &:active {
        transform: translateY(2px);
    }
}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
@media(max-width:766px){
	img {
		max-width: calc(100% + 30px);
		width: calc(100% + 30px);
		margin: 0 -15px;
		height: auto;
	}
}

div.wp-caption {
    max-width: 100%;
}

figcaption {
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
}figcaption:before {
    content: '- ';
}figcaption:after {
    content: ' -';
}

label {
    font-size: 1.7em;
    display: block;
    margin-bottom: 10px;
}

input {
    margin-bottom: 15px;
    background: white;
    border: solid 1px;
}

input[type="checkbox"]{
    display: inline-block;
    border: solid 1px;
    width: 20px;
    position: relative;
    top: 20px;
    margin-right: 15px;
}

input[type="checkbox"]:checked {
    background: darken($yellow,10);
}

input#submit_course_form {
    background: $font_color;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
input#submit_course_form:hover {
    background: $yellow;
}
textarea {
    display: block;
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
}

.popup_form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: scroll;
    background: #25204c;
    z-index: 999;
    color: white;
    padding: 50px 0;
    display: none;
}

form#course_form {
    max-width: 500px;
    margin: auto;
    padding: 30px;
    border: solid 1px;
    position: relative;
}

.close {
    width: 30px;
    height: 30px;
    border: solid 1px;
    font-size: 2em;
    line-height: 22px;
    text-align: center;
    position: absolute;
    top: -1px;
    right: -1px;
    cursor: pointer;
}

.accordeon ul {
    display: none;
    margin-top: -20px;
}

.accordeon h3 {cursor: pointer;}
.accordeon h3:before {
    display: inline;
    content: '+';
    margin-right: 10px;
}
