
/*TYPOGRAPHY*/
h1,h2,h3,h4,h5 {
//	font-family: $serif_font_stack;
line-height: 125%;
}

h1 {font-size: 3.9em; padding:50px 0 50px;font-weight: normal;}
h2 {font-size: 2.9em; padding: 0 0 20px;font-weight: bold}
h3 {font-size: 2.21em;padding:0 0 20px;}
h4 {font-size: 1.4em;padding:0 0 10px;font-weight: bold;}

p + h2, ul + h2 {
    margin-top: 40px;
}

@media (min-width: 768px){
	h1 {font-size: 4.3em;}
	h2 {font-size: 3.1em}
	h3 {font-size: 2.41em}
	h4 {font-size: 1.79em}

}

h1 span {
    opacity: 0;
    transform:scale(0.95);
    transition:all  1.7s;
    display: inline-block;

    &.fadeIn {
        opacity: 1;
        transform: scale(1);

    }
}


p {
	font-size: $font_size;
	padding:0 0 10px;
	line-height: 160%;
}
li { font-size: $font_size;
	padding:0 0 5px;
	line-height: 160%
}

ul {
	list-style: disc;
	padding:0 20px 0 20px;
}
ol {
	@extend ul;
	list-style: decimal;
}


li li, li p {font-size: inherit;}
ul ul , ul ol, ol ol {font-size: inherit}

p + ul {
    margin-top: -5px;
}







a {
	text-decoration: none;
	border-bottom:1px solid $primary_color;
	display: inline-block;
	transition: all 0.3s;

	&:link, &:visited, &:active {
		color: $primary_color
	}
	&:hover {
	}
}

h6 a, a h6 {
    background: #25204c;
    color: #ffe036!important;
    padding: 10px 15px;
    font-size: 1.6em;
    font-weight: bold;
    margin: 10px 0 0px;
		border: 0;
}

h6 a:hover, a:hover h6 {
	background: #ffe036;
  color: #25204c!important;
}



.button {
	display: inline-block;
	margin:10px 0;
	border-radius: 5px;
	border:2px solid white;
	padding: 10px 25px;
	color: white;
	&:hover {
		background: white;
		color: $primary_color;
	}
}


strong, b {font-weight: bold;}
em, i {font-style: italic}

table {
	width: 100%;
	margin:0 0 40px;
}

th, td {font-size: 1.5em;padding:10px;border:0}
section td {font-size: 2em;line-height: 160%;padding:0 0 10px;}

input {padding: 10px;width: 100%;font-size: 1.5em;appearance:none;}

img {
	max-width: 100%;
	width: 100%;
	height: auto;
}
@media(max-width:766px){
	img {
		max-width: calc(100% + 30px);
		width: calc(100% + 30px);
		margin: 0 -15px;
		height: auto;
	}
}

div.wp-caption {
    max-width: 100%;
}

figcaption {
    font-size: 1.3em;
    font-style: italic;
    text-align: center;
}figcaption:before {
    content: '- ';
}figcaption:after {
    content: ' -';
}
