

$primary_color: #17296b;
$brand_color: $primary_color;

$yellow: #ffec08;

$background_color: #fff;
$light_grey: #f1f1f1;

$font_color: #333;
$serif_font_stack: 'Old Standard', georgia, serif;
$sans_font_stack:'Source Sans Pro',   'Montserrat', sans-serif;


$border_radius: 7px;

$header_color: #222a22;
$header_height: 65px;

$font_size: 1.9em;
