.section_page_title {
    text-align: center;
    padding:50px 0 0;
    margin-bottom: -40px;
  h1 {

  }
}

@media(max-width:650px){
  .section_page_title  {padding: 20px 0; margin-bottom: -30px;}
}
