section.section.section_quote {
    background: #f7f7f7;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
}

blockquote {
  width:100%;;
  border-left: 0;
  margin: 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 7px;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
