section.section.section_quote {
    background: #f7f7f7;
    border-top: solid 2px #eee;
    border-bottom: solid 2px #eee;
    padding: 30px 0;
}

blockquote {
  width:100%;;
  border-left: 0;
  quotes: "\201C""\201D""\2018""\2019";
	// padding:20px 0 20px 40px;
	padding:0!important;
	// margin:40px 20px 40px 40px;
	margin:0!important;
	font-style: italic;
	max-width: 900px;
  font-size: 140%;
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 7em;
  line-height: 0.1em;
  margin-right: 7px;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

blockquote p:last-child {padding-bottom: 0}

@media(min-width:775px){
  blockquote {font-size: 200%;}
}
