.section_services {

  text-align: center;

  .service_container {

      a {
        color: inherit;
        border: 0;
        transition: all 0.3s;
        &:hover {
          transform: scale(1.05);
          img {
            transform: scale(1.15);
          }
        }
      }
      img {
        margin:10px 0 20px;
        transition: all 0.3s;
      }
      h4 {

      }
      p {

      }
  }

}
