.services_container {
  text-align: center;
  margin: 0 -10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: 982px) {
    margin: 0;
  }

  .service_box {
    width: 38%;
    max-width: 38%;
    min-width: 38%;
    padding: 0 40px 35px;
    display: inline-block;
    vertical-align: top;

    @media (min-width: 682px) {
      padding-left: 60px;
      padding-right: 60px;
    }

    @media (min-width: 982px) {
      width: 21%;
      max-width: 21%;
      min-width: 21%;
      padding-left: 50px;
      padding-right: 50px;
    }
    a {
      display: block;
      border-bottom: 0;
      text-align: center;

      svg {
        width: 100%;
        height: auto;
        margin-bottom: 20px;
      }
    }
    svg path {
      transition: 0s fill;
    }
    &:hover {
      svg g#icon path,
      svg g#icon rect,
      svg g#icon polygon {
        fill: $yellow !important;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
      svg g#background path {
        fill: $primary_color !important;
        transition-duration: 0.3s;
        transition-timing-function: ease-in-out;
      }
    }
  }
}
