.section_statistics {
  background: #f7f7f7;
      border-top: 5px solid #eee;
      border-bottom: 5px solid #eee;
}


.statistics_list {

  display: flex;
  // flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.6em!important;



  .statistic {
    flex:1;
    text-align: center;
    font-size: 1em;
    padding: 0;

    &:last-child {
        margin:0;
    }

    // $stat_height: 150px;
    // .statistic_amount_outer {
    //     width:$stat_height;
    //     height: $stat_height;
    //     background:$yellow;
    //     color:$primary_color;
    //     border-radius: 50%;
    //     text-align: center;
    //     line-height: $stat_height;
    // }

    .statistic_amount, .after_stat {
      font-size: 6.5em;
      // font-weight: bold;
      margin:0 0 30px;
      display: inline-block;
    }
    .statistic_description {
      font-size: 2em;
    }
  }

}


@media (min-width: 568px){
.statistics_list {
    font-size: 1em!important;
    .statistic {
      margin:0
    }
}

}
