.section_statistics {
  background: $light_grey;
}


.statistics_list {

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;

  .statistic {
    flex:1;
    text-align: center;
    font-size: 1em;
    margin:0 0 70px;
    padding: 0;

    &:last-child {
        margin:0;  
    }

    .statistic_amount {
      font-size: 6.5em;
      font-weight: bold;
      margin:0 0 30px;
    }
    .statistic_description {
      font-size: 2em;
      color: lighten($font_color, 10);
    }
  }

}


@media (min-width: 568px){
.statistics_list {
    flex-direction: row;
    .statistic {
      margin:0
    }
}

}
